.footer {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: [full-start] 1fr [middle-start] repeat(6, 1fr) [middle-end] 1fr [full-end];
  grid-template-rows: repeat(2, max-content);
  align-content: center;
  background-color: var(--color-black);
  margin-bottom: -18.4rem;
  max-height: 16rem;

  @media only screen and (max-width: $bp-l) {
    grid-template-columns: [full-start] 0.3fr [middle-start] repeat(6, 1fr) [middle-end] 0.3fr [full-end];
  }

  @media only screen and (max-width: $bp-xxs) {
    max-height: none;
  }


  &__content {
    grid-column: middle-start / middle-end;

    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.8rem;
    color: var(--color-white);

    @media only screen and (max-width: $bp-xxs) {
      grid-column: 1 / -1;
      justify-self: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }

  &__logo {
    max-height: 2.4rem;

    @media only screen and (max-width: $bp-xxs) {
      margin-top: 5.6rem;
      margin-bottom: 4rem;
    }
  }

  &__socials {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
    justify-self: end;
    max-width: 2.4rem;
    max-height: 2.4rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 1.6rem;

    @media only screen and (max-width: $bp-xxs) {
      flex-direction: row;
      align-self: center;
      margin-left: -12rem;
      order: 3;
    }
  }

  &__icon {
    transition: all 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }

  &__links {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    list-style: none;
    gap: 3.3rem;

    @media only screen and (max-width: $bp-xxs) {
      flex-direction: column;
      align-items: center;
      gap: 1.6rem;
      margin-bottom: 5rem;
    }
  }

  &__copy {
    grid-row: 2 / 3;
    grid-column: 6 / 7;

    @media only screen and (max-width: $bp-xxs) {
      order: 4;
      margin-bottom: 5.6rem;
      margin-top: 2rem;
      opacity: .5;
    }
  }

  &__socials,
  &__links,
  &__logo {
    cursor: pointer;
  }
}
